.tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a.tech-icon > img {
  height: 4rem;
  padding: 0.25rem;
}

.github-stats {
  display: flex;
  justify-content: space-between;
}

.github-stats > img {
  width: 100%;
}

.github-stat {
  display: flex;
  align-items: center;
  width: 47.5%;
  background-color: white;
}

.github-stat > img {
  width: 100%;
  height: 100%;
}